<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 定义一个业务逻辑组件，实现类为 MyServiceImp，
        此处的 id 必须与 Action 的 setter 方法名对应 -->
    <!-- bean id="ms" class="org.crazyit.app.service.impl.MyServiceImpl"/  -->
    
    <!-- 使用 annotation --> 
    <context:annotation-config />
    
    <!-- 使用 annotation 自动注册b ean,并检查@Controller, @Service, @Repository 注解已被注入 --> 
    <context:component-scan base-package="com.angejia.dw.web_service.modules" />
</beans>