<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <!-- 定义一个业务逻辑组件，实现类为 MyServiceImp，
        此处的 id 必须与 Action 的 setter 方法名对应 -->
    <!-- bean id="ms" 
        class="org.crazyit.app.service.impl.MyServiceImpl"/  -->
</beans>